@import '../../../styles/utils.scss';
.userlist{
    min-height: 5%;
    min-width: 100%;
    flex: 0.052;
    width:100%;
    border-bottom: $oc-gray-3 solid 0.05rem;
    display: flex;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
  }
  
  .users-container {
    flex: 1;
    display: flex;
    color: #333;
    background: #fff;
    overflow-x: auto;
    position: relative;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  .user {
    flex: 0 0 10rem;
    
    display: flex;
    box-shadow: 0 1px 0.5rem -4px #000;
    background: #fff;
    margin: 0.1rem 0.5rem 0.1rem 0.5rem;
    overflow: hidden;
    
    cursor: pointer;
    transition: all 250ms ease-in-out;
    
    img {
        flex: 0.3;
        width: 3rem;
        height: 3rem;
        object-fit: center;
    }
    .user-content {
        flex: 0.7;
        font-size: 0.4rem;
        padding: 0.1rem;
      }
    &:hover {
      box-shadow: 0 4px 1rem -4px #000;
      transform: translateY(-3px);
    }
  }
  
  
  