@import '../../../styles/utils.scss';
 
.header {
  background: white;
  .header-content {
    height: 6rem;
    width: auto;
    margin: 0 auto; // 가운데 정렬
    padding-left: 1rem;
    padding-right: 1rem;
 
    // 내부 아이템 세로 가운데 정렬
    display: flex;
    align-items: center;
 

    .brand {
      // 로고
      //color: $oc-blue-7;
      // font-size: 2.5rem;
      // font-weight: 900;
     // width: 3rem;
     .logo{
      width: 18rem;
    }
    .mini-logo{
      width: 3.3rem;
    }

    }
    // 반응형 레이아웃
    @include media('<wide') {
      width: 100%;
      .logo{
        display:inline-block;
      }
      .mini-logo{
        display: none;
      }
    }
    @include media('<medium') {
      padding-left: 1rem;
      padding-right: 1rem;
      .logo{
        //display:none;
      }
      .mini-logo{
        display: inline-block;
      }
    }

 
    .right {
      // 오른쪽 내용
      display: flex;
      align-items: center;
      .login{
        text-align: center;
      img{

          width: 40px;
         height:40px;
        border-radius: 20px; /* 이미지 반크기만큼 반경을 잡기*/
      }
      labal{
        font-weight: 600;
        font-size: 1.2rem;
        
        
      }
    }
      margin-left: auto;
    }
    border-bottom: 10px solid $oc-blue-5;
    
  }
  
}