@import '../../../styles/utils.scss';



.folder-list{

  .folder-menu{
    cursor: pointer;
    background:$oc-gray-2;
    font-size: 1rem;
    font-weight: 600;
    color: $oc-blue-7;
    text-align: center;
    display: flex;
    .folder-category{
      flex: 0.5;
      background:$oc-gray-2;
      text-align: center;
      margin-right: auto;
      &:hover {
        background: $oc-gray-1;
        font-weight:900;
      }
    }
    .folder-option{
      flex: 0.5;
      background:$oc-gray-2;
      margin-left: auto;
      width: 3rem;
      &:hover {
        background: $oc-gray-1;
        color: $oc-blue-5;
        font-weight: 900;
      }
     
    }
  }
}

.folder-list{

  .folder-item{
    color: #fff;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    padding: 15px;
    text-decoration: none;
    transition: $oc-gray-4 .1s linear;
    width: 100%;

    .item-count{
      background: #34393d;
      border-radius: 5px;
      float: right; 
      padding: 2px 8px;
      margin: -2px -8px;
    }
    &:hover {
      background: #404549;
    }
  }
}