@import "../../../styles/utils.scss";


.sidebar {
    background: #34393d;
    display: flex;
    transition:0.2s ease-in-out;
    .forder {
       
        background: #34393d;
        overflow-y: auto;
        .forder-btn {
            height: 40px;
            background: $oc-gray-4;
            text-align: center;

            color: $oc-gray-7;
            font-size: 1.5rem;
            font-weight: 700;

            &:hover {
                color: $oc-blue-7;
            }
        }

       
    }
    .note {
        background: $oc-gray-2;
        overflow-y: auto;
    }

    .separator {
        cursor: default; 
        .separator-btn{
          margin-top: calc((100vh - 6rem)/2);
          height: 20px;
          width: 20px;
          cursor:pointer;
        } 
        transition:0.2s ease-in-out;

      }
}
    @include media('<medium') {
        .note {
         width: 0;
        }
      }
      