@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);

$yellow: rgb(248, 159, 0);
$wecolor: rgb(28, 144, 251);
$grey: rgb(51, 51, 51);
$black: rgb(38, 38, 38);
$base: rgb(255, 255, 255);
$lightGrey: rgb(235, 235, 235);

$BASE_FONT_SIZE: 16px;

$breakpointMega: 1600px;
$breakpointLarge: 990px;
$breakpointMed: 767px;

// context-wrapper(cx-wrapper)
.cx-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 6rem);
  overflow-x: hidden;
  margin: 1rem;
  padding: 1rem;
  // -webkit-scrollbar {
  //   display: none;
  // }

  .cx-title {
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    text-align: center;
    line-height: 2.5rem;

    .logo {
      justify-content: center;
      align-items: center;
      width: 25rem;
      // margin-bottom: 1rem;
    }
  }
}

@import "component/Collapsible";
